<%-include("header")%>
<p>注册成功，请登录</p>

<form method="post" action="/index">
    <div>
        <label>用户名：</label><input />
    </div>
    <div>
        <label>密  码：</label><input />
    </div>

    <input type="submit"  />

</form>


















<%-include("footer")%>